h1
{
	color:#C96401;
	background-color: #613008;
	text-align: center;
	font-size: 3em;
	letter-spacing: .1em;
	font-family: serif;
}
	
h2
{
	color:C96401;
	font-size: 1.5em;
	font-family: serif;
}

a
{
	color:#C91401;
}

body
{
	color:#C96401;
	background-color:#613008;
	font-family: "Veranda", Sans-serif;
}

p
{
	font-style: none;
	font-size: 1em;
	text-indent: 3em;
	line-height: 1.5em;
}

h5
{
	font-size: .75em;
}