h1
{
	color:#C96401;
	background-color: #613008;
	text-align: center;
	font-size: 3em;
	letter-spacing: .1em;
	font-family: serif;
	margin: 20px;
	
}
	
h2
{
	color:#C96401;
	font-size: 1.5em;
	font-family: serif;
	margin: 20px;
}

a
{
	color:#C91401;
}

body
{
	color:#C96401;
	background-color:#613008;
	font-family: "Veranda", Sans-serif;
}

p
{
	font-style: none;
	font-size: 1em;
	text-indent: 3em;
	line-height: 1.5em;
	margin: 20px;
}

h5
{
	font-size: .75em;
}

ul
{
	list-style:square;
}

ol
{
	list-style:square;
}

nav
{
	background-color:black;
	line-height: 200%;
	display: block;
}

nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type: none;
}

nav a:link
{
	color:white;
	text-decoration:none;
}

nav a:visited
{
	color:white;
}

nav a:hover
{
	text-decoration:underline;
}

img
{
	
	margin: 20px;
	float: left;
}